.shiny-text {
  font-size: 5rem;
  font-weight: 700;
  color: #5DBB9F80;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    #5DBB9F 50%,
    rgba(255, 255, 255, 0) 70%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}