* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Geist Sans', sans-serif;
}

:root {
  --accent: #5783ca;
  --background: #ffffff;
  --card-background: #f5f5f5;
  --border: #e4e4e4;

  --title-color: #0a0c08;
  --subtitle-color: #7d8893;
  --warning: #d10c30;

  --low: #f8f4f3;
  --alert: #FFC53D;
  --high: #F5222D;
} 

body {
  line-height: 1.6;
  color: var(--text-color);
  background-color: white;
}

#about {
  scroll-margin-top: 72px;
}

#detect {
  scroll-margin-top: 72px;
}


.app {
  width: 100%;
  min-height: 100vh;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.app.loaded {
  opacity: 1;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: var(--background);
  border-bottom: 1px solid var(--border);

  z-index: 100;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  padding: 1rem 4%;
  max-width: 1600px;
  margin: 0 auto;
}

.title-text {
  color: var(--title-color);
  font-size: 1.6em;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: var(--subtitle-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.75rem 1rem;

  position: relative;
  transition: color 0.3s ease;
}

.nav-links a.active {
  color: var(--title-color);
  background-color: var(--card-background);
  border-radius: 5px;
}

hr {
  border: 1px solid var(--border);
}

/* Hero Section */
.hero {
  min-width: 100vw;
  background-color: var(--background);

  display: flex;
  flex-direction: column;
  padding-top: 72px;
}

.hero-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 4% 2rem 4%;
}

.hero-content {
  max-width: 800px;
  margin-right: 4rem;
}

.hero-content h1 {
  color: var(--title-color);
  font-size: 6rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero-content h3 {
  color: var(--subtitle-color);
  font-size: 1.4rem;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 2rem;
}

.hero-image {
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  width: 80%;
  height: auto;
  border-radius: 10px;
}

.btn-container {
  display: flex;
  gap: 2rem;
}

.btn-1, .btn-2 {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.btn-1 {
  color: white;
  background-color: var(--accent);
}

.btn-2 {
  color: var(--title-color);
  border: 1px solid var(--border);
}

.perks {
  display: flex;
  padding: 1rem 4% 0 4%;
  gap: 2rem;
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.perk-card {
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.perk-card h5 {
  color: var(--title-color);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.perk-card p {
  color: var(--subtitle-color);
  font-size: 1.2rem;
}

@media (max-width: 1520px){
  .hero {
    min-height: 100%;
  }

  .hero-container {
    flex-direction: column;
    gap: 4rem;
    margin-top: 4rem;
  }

  .hero-content {
    margin: 0;
  }

  .hero-content h1, .hero-content h3{
    text-align: center;
  }

  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-image {
    display: none;
  }

  .btn-container {
    justify-content: center;
  }
}

@media (max-width: 700px){
  .perks {
    flex-direction: column;
    gap: 1rem;
  }
}

/* About Section */
.about {
  display: flex;
  flex-direction: column;
}

.about-title {
  max-width: 1400px;
  margin: 4rem auto;
  padding: 0 10%;
  text-align: center;
}

.about h2 {
  color: var(--title-color);
  font-size: 3rem;
  font-weight: 600;
}

.about h5 {
  color: var(--subtitle-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.about-container {
  display: flex;
  padding: 0 4%;
  gap: 2rem;
  max-width: 1600px;
  margin: 0 auto 2rem auto;
}

.about-card {
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.number {
  background-color: var(--accent);
  width: 50px;
  height: 50px;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  position: absolute;
  justify-self: flex-end;
  justify-content: center;
}

.number h3 {
  color: white;
  font-size: 1.2rem;
}

.about-card h5 {
  color: var(--title-color);
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.about-card p {
  color: var(--subtitle-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.limitation-container {
  width: 100%;
  padding: 0 4%;
  gap: 2rem;
  max-width: 1600px;
  margin: 0 auto 4rem auto;
}

.solo-card {
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.solo-card h5 {
  color: var(--title-color);
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.solo-card ul {
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.solo-card li {
  color: var(--subtitle-color);
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 1200px){
  .number {
    position: relative;
    justify-self: flex-start;
  }

  .about-card h5 {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 700px){
  .about-container {
    flex-direction: column;
    gap: 1rem;
  }
}

/* Detect Section */
.detect {
  display: flex;
  flex-direction: column;
}

.detect-title {
  max-width: 1400px;
  margin: 4rem auto;
  padding: 0 10%;
  text-align: center;
}

.detect h2 {
  color: var(--title-color);
  font-size: 3rem;
  font-weight: 600;
}

.detect h5 {
  color: var(--subtitle-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.detect-container {
  margin-bottom: 4rem;
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 0 4%;

  display: flex;
  width: 100%;
  gap: 2rem;
}

.box-1, .box-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid var(--border);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 2rem;
}

.box-1 h5 {
  color: var(--title-color);
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.input-container {
  border: 1px solid var(--border);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.file-name {
  color: var(--title-color);
  font-size: 1.2rem;
}

.upload-btn {
  font-size: 1rem;
  background-color: var(--accent);
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 5px;
}

.preview-container {
  display: block;
  margin-bottom: 1.5rem;
}

.preview-container.hide {
  display: none;
}

.preview-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.action-btns {
  display: flex;
  gap: 1.5rem;
}

.analyze-btn {
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--accent);
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
}

.reset-btn {
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid var(--border);
  color: black;
  background-color: transparent;
  padding: 0.75rem 1rem;
  border-radius: 5px;
}

.errorMsg {
  margin-top: 1rem;
  display: block;
  color: var(--warning);
}

.errorMsg.hide {
  display: none;
}

.box-2 h5 {
  color: var(--subtitle-color);
}

.prediction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prediction-title h3 {
  color: var(--title-color);
  font-weight: 600;
  font-size: 1.6rem;
}

.prediction-title h5 {
  line-height: 1.2;
  color: var(--subtitle-color);
  font-weight: 500;
  font-size: 1.2rem;
}

.meter-container {
  width: 100%;
  position: relative;
}

.meter {
  width: 100%;
  height: 12px;
  background-color: var(--card-background);
  border-radius: 50px;

  position: relative;
  overflow: hidden;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.meter-fill {
  position: absolute;
  height: 12px;
  border-radius: 50px;
  background-color: var(--accent);
}

.meter-container p {
  color: var(--subtitle-color);
  font-size: 0.8rem;
}

.list-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list-container h5 {
  color: var(--title-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.list-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 0.5rem;
}

.list-card h5 {
  color: var(--title-color);
  font-weight: 500;
  font-size: 1rem;
}

.list-card p {
  color: var(--subtitle-color);
  font-weight: 500;
  font-size: 1rem;
}

.recommendation {
  margin-top: 2rem;
}

.recommendation h5 {
  color: var(--title-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.recommendation ul {
  padding-left: 2%;
  display: flex;
  flex-direction: column;
}

.recommendation li {
  color: var(--subtitle-color);
  font-size: 1rem;
  font-weight: 500;
  text-align: justify;
}

.warning {
  margin-top: 2rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--subtitle-color);
}

@media (max-width: 900px){
  .detect-container {
    flex-direction: column;
  }
}