* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #F8F9FA;
  --card-background: #FFFFFF;

  --heading-color: #e2e8f0;
  --text-color: #475569;

  --primary-color: #2B6777;
  --secondary-color: #ACF0DA;
  --accent-color: #5DBB9F;

  --subtle-border: #E2E8F0;
  --positive-color: #4CAF50;
  --negative-color: #D32F2F;
} 

body {
  line-height: 1.6;
  color: var(--text-color);
  background-color: white;
}

.app {
  width: 100%;
  min-height: 100vh;

  opacity: 0;
  transition: opacity 0.5s ease;
}

.app.loaded {
  opacity: 1;
}

/* Navbar */
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 1.5rem 5%;

  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  z-index: 100;
}

.navbar-background {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 5%;

  width: 100%;
  height: 100%;

  z-index: -1;
}

.show-bg {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px); 
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

  animation: navbarIn 0.4s ease forwards;
}

.unshow-bg {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px); 
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

  animation: navbarOut 0.4s ease forwards;
}

@keyframes navbarIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navbarOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.title {
  color: black;
  font-weight: 700;
  font-size: 1.75rem;

  cursor: default;
}

.title-recolor {
  color: var(--accent-color);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--heading-color);
  font-weight: 600;
  font-size: 1.4rem;

  position: relative;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--secondary-color);
}

.nav-links a::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 0;

  height: 2px;
  background: var(--secondary-color);
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Hero Section */
.hero {
  min-height: 100vh;

  background-color: var(--background);

  display: flex;
  align-items: center;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.1) 20%,
    rgba(255,255,255,0.3) 40%, 
    rgba(255,255,255,0.5) 60%, 
    rgba(255,255,255,0.7) 80%, 
    rgba(255,255,255,0.9) 100% 
  );
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.hero-content {
  flex: 1;
  padding: 0 5%;
}

.headline {
  line-height: 1.2;
  margin-bottom: 2rem;
}

.headline h1 {
  font-size: 5rem;
  font-weight: 700;
}

.headline-2 {
  color: var(--primary-color);
}

.subtitle {
  color: black;
  font-size: 1.85rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.note {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.cta-btn {
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;

  display: inline-flex;

  color: white;
  background-color: var(--primary-color);

}

.hero-image {
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info-box {
  height: 350px;
  width: 300px;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 15px;
  padding: 3% 2%;

  position: absolute;
  left: 65%;
  top: 60%;
}

.template-title {
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
}

.template-subtitle {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

.template-desc {
  margin-top: 65px;
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

/* Learn Section */
.learn {
  min-height: 100vh;
  background: var(--background);

  display: flex;
  align-items: center;
}

.learn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

/* Media Queries */
@media (max-width: 1800px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-image {
    display: none;
  }

  .nav-links a {
    color: var(--primary-color);
    font-weight: 700;
  }

}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 10px;
  }
}